{% extends 'base.html.twig' %}



{% block title %}
    {{ parent() }} | Legal Stuff
{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>
<script src="{{ asset('js/legalStuff.js') }}"></script>
{% endblock %}

