{% extends "base.html.twig" %}

  {% block body %}
      {{ form_start(monFormulaire) }}
      <div>
      {{ form_widget(monFormulaire) }}
      </div>

      <button>submit</button>
      {{ form_end(monFormulaire) }}
  {% endblock %}